/*
mixins para los encabezados, h2
mixin para centrar contenido
mixin para estilos del form
*/

/*
Mixins: Permite definir y reutilizar bloques de estilos que se pueden incluir en múltiples lugares de la hoja de estilo, similar a funciones en la programación.
*/

@mixin header-styling {
    font-size: 24px;
    font-weight: bold;
}
  
@mixin center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin row-content {
    display: flex;
    align-items: center;
}

@mixin form-styles {
    input {
        padding: 10px;
        border: 1px solid $grey;
        border-radius: 25px;
        width: 100%;
        margin: 10px;
        &:hover {
        border-color: $blue;
        border-width: 1px;
        }
    }
    label {
        display: none;
    }
}

@mixin button-styles {
    background-color: none;
    border-radius: 20px;
    border: 1px solid $grey;
    height: 30px;
    width: 150px;
}